.pad {
  padding: 25px;
}

.light thead.sticky-top {
  background-color: var(--bs-body-bg);
}

.dark thead.sticky-top {
  background-color: var(--bs-body-bg-alt);
}

#content {
  margin-top: 15px;
}

.btn > i.bi {
  font-size: 1.5rem;
}