.pad {
  padding: 2rem;
}

.light thead.sticky-top {
  background-color: var(--bs-body-bg);
}

.dark thead.sticky-top {
  background-color: var(--bs-body-bg-alt);
}

#content {
  margin-top: 15px;
}

#btn_refresh {
  display: flex;
  align-items: center;
}

.btn .bi {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
